#mainContent > .panel-form {--zt-panel-form-max-width: auto;}
.form-label.form-batch-label {position: relative; padding: 0; left: 0;}
.buffer-box {left: -5px;}

.date-picker-menu-footer:has(nav.toolbar:empty)  {border-top-width: 0}
